@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
    margin: 0px;
}
.hero{
    background-color: #1f2937;
    width: 100%;
}
.navbar{
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}
h1{
    margin-left: 10px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 24px;
    color: #f9faf8;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}
nav ul li a{
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
    margin: 5px 10px;
}
h2{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 48px;
    color: #f9faf8;
}
.htext{
    max-width: 600px;
    margin: 10px 0px;
    min-width: 365px;
    margin-left: 10px;
}
.htext p{
    margin: 25px 0px;
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    font-size: 18px;
    color: #e5e7eb;
}
.htext button{
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882F6;
    padding: 5px;
    border: 2px solid #1f2937;
    border-radius: 12px;
}
.main{
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    height: 500px;
    align-items: center;
    max-width: 1200px;
}
#mainphoto {
    margin: 0px 10px;
    object-fit: contain;
    max-width: 100%;
}
#main_card{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4px;
    margin: 10px;
    background-color: #e5e7eb;
    box-shadow: 5px 5px 10px -5px #3882F6;
}
.mainphotocontainer{
    width: auto;
    display: flex;
    max-width: 550px;
    margin-right: 10px;
}
.middle{
    background-color: #e5e7eb;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
}
h3{
    width: 1200px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 36px;
    color: ##1f2937;
    padding: 50px;
    text-align: center;
}
.thumbrow {
    max-width: 1200px;
    margin: 0 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.thumbcard {
    padding: 15px;
    height: 100px;
    margin: 0px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.thumbcard img{
    margin: 3px;
    padding: 3px;
    width: 200px;
    object-fit: contain;
    max-width: 100%;
    background-color: #3882F6;
    flex: 0;
}